*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  background-color: violet;
  border: 1px solid black;
}

.button{
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}

header{
  display: flex;
  align-items: center;
  background-color: #265EE8;
  height: 80px;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header ul{
  display: flex;
}

header ul li{
  list-style: none;
  color: white;
  padding: 20px;
}

header ul li:hover{
  text-decoration: underline;
}

header .button:hover{
  color: white;
  background-color: #265EE8;
  border: 1px solid white;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  height: 500px;
}

.jumbotron .content{
  max-width: 45%;
  color: white;
  text-align: center;
}

.jumbotron .content h1, p{
  padding-bottom: 30px;
}

.jumbotron .content p{
  font-size: 14px;
  line-height: 1.6;
}

.jumbotron .content .button{
  margin: 0 20px;
}

.jumbotron .content .jumbo-right{
  background-color: #1A1D20;
  color: white;
}

.jumbotron .button:hover{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.fa-solid{
  padding: 0 10px 0 0;
}

section.grey-bg{
  background-color: #F4F4F4;
}

section .container{
  display: flex;
  min-height: 500px;
}

section .container .image{
  display: flex;
  width: 60%;
  min-height: 400px;
}

section .container .image .items{
  width: 80%;
  min-width: 450px;
}

section .container .text-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 300px;
  width: 200px;
  line-height: 1.2;
}

section .container .text-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-height: 300px;
  line-height: 1.2;
  padding-left: 150px;
  padding-right: 50px;
}

h2{
  margin-bottom: 15px;
}

section.section-bottom .container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section .container .box-text{
  text-align: center;
  padding: 100px 50px 0 50px;
}

section .container .box-text p{
  padding: 0;
}

section .container .big-image,img{
  width: 100%;
}

section .container .stars-bg{
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 30px;
}

section .container .stars-bg h4{
  padding-bottom: 30px;
}

section .container .stars-bg .button{
  background-color: #7C8DDA;
  color: white;
  margin-bottom: 50px;
}

section .stars-bg .button:hover{
  color: #7C8DDA;
  background-color: transparent;
  border: 1px solid #7C8DDA;
}

footer{
  background-color: #1A1D20;
}

.footer-top{
  display: flex;
  color: white;
  min-height: 300px;
  border-bottom: 1px solid #5F73D2;
  padding: 50px 0 20px 0;
}

footer h4, .li-title{
  color: #5F73D2;
}

footer .col-first img{
  width: 20px;
  margin-top: 10px;
}

footer ul{
  list-style: none;
}

footer li, .italiano{
  font-size: 0.8rem;
  padding: 5px;
}

.footer-top .col-first{
  width: calc(100% / 3);
  min-height: 200px;
}

.footer-top .col-second{
  width: calc(100% / 6);
  min-height: 200px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 50px 0;
}

footer .logo{
  width: 60px;
}

footer .button{
  background-color: #5F73D2;
  color: white;
  font-size: 0.5rem;
  padding: 5px 10px;
}

footer .button:hover{
  color: #7C8DDA;
  background-color: transparent;
  border: 1px solid #7C8DDA;

footer .fa-solid{
  padding: 5px;
}

footer .fa-brands{
  padding-top: 10px;
  padding-right: 20px;
}

footer .fa-brands:hover{
  color: #5F73D2;
}