*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  background-color: violet;
  border: 1px solid black;
}

.button{
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}

header{
  display: flex;
  align-items: center;
  background-color: #265EE8;
  height: 80px;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header ul{
  display: flex;
}

header ul li{
  list-style: none;
  color: white;
  padding: 20px;
}

header ul li:hover{
  text-decoration: underline;
}

header .button:hover{
  color: white;
  background-color: #265EE8;
  border: 1px solid white;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/jumbo.png");
  background-size: cover;
  height: 500px;
}

.jumbotron .content{
  max-width: 45%;
  color: white;
  text-align: center;
}

.jumbotron .content h1, p{
  padding-bottom: 30px;
}

.jumbotron .content p{
  font-size: 14px;
  line-height: 1.6;
}

.jumbotron .content .button{
  margin: 0 20px;
}

.jumbotron .content .jumbo-right{
  background-color: #1A1D20;
  color: white;
}

.jumbotron .button:hover{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.jumbotron .content .button .fa-solid{
  padding: 0 10px 0 0;
}

section.grey-bg{
  background-color: grey;
}

section .container{
  display: flex;
  min-height: 500px;
}

section .container .image{
  display: flex;
  width: 60%;
  min-height: 400px;
}

section .container .image .items{
  width: 80%;
  min-width: 450px;
}

section .container .text-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 300px;
  width: 200px;
  line-height: 1.2;
}

section .container .text-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-height: 300px;
  line-height: 1.2;
  padding-left: 150px;
  padding-right: 50px;
}

h2{
  margin-bottom: 15px;
}

section.section-bottom .container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer{
  background-color: black;
}

.footer-top{
  display: flex;
  min-height: 300px;
  background-color: yellow;
  border-bottom: 1px solid black;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  background-color: orange;
}

.footer-top .col-first{
  width: calc(100% / 3);
  min-height: 200px;
  background-color: yellowgreen;
}

.footer-top .col-second{
  width: calc(100% / 6);
  min-height: 200px;
  background-color: blanchedalmond;
}
